<!DOCTYPE html>
<html $if(lang)$ lang="$lang$"$endif$
  prefix="cc:      http://creativecommons.org/ns#
          dcterms: http://purl.org/dc/terms/
          schema:  http://schema.org/
          xsd:     http://www.w3.org/2001/XMLSchema#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    $for(author-meta)$
    <meta name="author" content="$author-meta$">
    $endfor$
    $if(date-meta)$
    <meta name="date" content="$date-meta$">
    $endif$
    $if(keywords)$
    <meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$">
    $endif$
    <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
    $if(quotes)$
    <style type="text/css">q { quotes: "“" "”" "‘" "’"; }</style>
    $endif$
    $if(highlighting-css)$
    <style type="text/css">
    $highlighting-css$
    </style>
    $endif$
    $for(css)$
    <link rel="stylesheet" href="$css$" type="text/css">
    $endfor$
    $if(math)$
      $math$
    $endif$
    $for(header-includes)$
        $header-includes$
    $endfor$
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39372032-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-39372032-1');
    </script>
  </head>
  <body about="" typeof="schema:ScholarlyArticle">
    <main class="container">
      <div>
        <h1 class="title" property="dcterms:title">$title$</h1>

        $if(subtitle)$
        <h2 class="subtitle">$subtitle$</h2>
        $endif$

        <div id="authors">
          $for(author)$
          <p class="author">
            <a rel="dcterms:creator" href="https://mynarz.net/#jindrich">$author$</a>
          </p>
          $endfor$
        </div>

        <p>$institute$</p>

        <p rel="dcterms:creator">
          <a about="https://mynarz.net/#jindrich" href="mailto:mynarzjindrich@gmail.com">
            <code lang="" property="schema:email">mynarzjindrich@gmail.com</code>
          </a>
        </p>

        $if(date)$
        <h3 class="date" property="dcterms:created" datatype="xsd:gYear">$date$</h3>
        $endif$

        <dl>
          <dt>Supervisor</dt>
          <dd><a href="http://nb.vse.cz/~svatek/welcom_e.htm">doc. Ing. Vojtěch Svátek, Dr.</a></dd>
          <dt>PDF version</dt>
          <dd><a href="dissertation.pdf">dissertation.pdf</a></dd>
          <dt>GitHub repository</dt>
          <dd><a href="https://github.com/jindrichmynarz/dissertation">https://github.com/jindrichmynarz/dissertation</a></dd>
          <dt>Licence</dt>
          <dd>
            <a rel="dcterms:license" href="https://creativecommons.org/licenses/by-sa/3.0/cz">
              <img alt="Creative Commons License"
                   src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
              Creative Commons Attribution-ShareAlike 3.0 Czech Republic License
            </a>
            <span property="cc:attributionName" content="Jindřich Mynarz" lang=""></span>
            <span rel="cc:attributionURL" resource="https://mynarz.net/dissertation"></span>
          </dd>
        </dl>
      </div>

      $if(toc)$
      <h2>Table of contents</h2>
      <div id="$idprefix$TOC">
      $toc$
      </div>
      $endif$
      <article class="row text-justify">
        <div class="col-md-8 offset-md-2 dont-break-out">
          $body$
        </div>
      </article>
      $for(include-after)$
      $include-after$
      $endfor$
    </main>
    <script type="text/javascript" src="resources/js/script.js"></script>
  </body>
</html>
